#aa{
 background-color: bisque;
}

.heading{
    background-color: lightslategrey;
}

.Course{
    color: cornflowerblue;
    background-color: bisque;
}

.intro{
    color: white;
    background-color: lightgrey;
}

.con{
    color: white;
    background-color: lightgrey;
}